:root {
  /* primary color */
  --primary-Green-200: hsl(148, 38%, 91%);
  --primary-Green-600: hsl(169, 82%, 27%);
  --primary-red: hsl(0, 66%, 54%);

  /* neutral color */
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grey-500: hsl(186, 15%, 59%);
  --neutral-grey-900: hsl(187, 24%, 22%);
}
