@import url("./reset.css");
@import url("./root.css");

@font-face {
  font-family: "Karla", sans-serif;
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Karla", sans-serif;
  background: var(--primary-Green-200);
}

h1 {
  color: var(--neutral-grey-900);
}

label {
  font-size: 16px;
  font-weight: var(--font-weights-400);
}

input,
textarea,
button {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: 8px;
  outline: none;
  border: 2px solid var(--neutral-grey-500);
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  border: 2px solid var(--primary-Green-600);
}

.contact-query_type label:hover {
  border: 2px solid var(--primary-Green-600);
}

.container {
  padding: 2rem;
  background: var(--neutral-white);

  width: 100%;
  max-width: 736px;

  border-radius: 15px;
}

.contact-form_group {
  margin: 1rem 0;
}

.contact-name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.contact-name input[type="text"],
.contact-query_type label,
.contact-email input[type="email"],
.contact-message textarea {
  padding: 0.7rem 1rem;
}

.contact-email input[type="email"],
.contact-message textarea {
  width: 100%;
  display: inline-block;
}

.contact-query_type {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.contact-query_type label {
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  border: 2px solid var(--neutral-grey-500);
}

.required-asterisk {
  color: var(--primary-Green-600);
}

button {
  width: 100%;
  padding: 1rem;
  letter-spacing: 1.5px;
  margin: 0.5rem 0;
  background: var(--primary-Green-600);
  color: var(--neutral-white);
  font-weight: var(--font-weights-700);
  outline: none;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px hsl(187, 24%, 22%, 0.2);
}
button:active {
  transform: scale(0.998);
}
/* validation */
.error-firstName,
.error-lastName,
.error-email,
.error-query,
.error-message,
.error-consent {
  display: none;
}

.error-consent {
  margin-top: 5px;
}

input[name="contactQueryType"]:checked + span,
.contact-query_type label.selected {
  background: var(--primary-Green-200);
}

.contact-query_type input[type="radio"] {
  transform: scale(1.5);
  margin-right: 10px;
  accent-color: hsl(169, 82%, 27%);
}

.contact-query_type input[type="radio"]:checked {
  border: 1.8px solid hsl(169, 82%, 27%);
}

.contact-consent input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
  accent-color: hsl(169, 82%, 27%);
}

.contact-query_type label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--neutral-grey-900);
  color: var(--neutral-white);
  padding: 2rem;

  border-radius: 15px;
}

.modal p {
  margin-top: 1rem;
}

.message-success {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.message-success span {
  letter-spacing: 1px;
  font-weight: var(--font-weights-700);
}

/* media query */
@media only screen and (max-width: 600px) {
  .message-success {
    justify-content: center;
    text-align: center;
  }

  .modal {
    width: 100%;
    max-width: 300px;
  }

  .modal p {
    margin-top: 1rem;
  }

  .container {
    margin: 100rem 1.25rem;
  }
  .contact-name {
    display: flex;
    flex-direction: column;
  }

  .contact-name label > input[type="text"] {
    width: 100%;

    display: block;
  }

  .contact-query_type {
    flex-direction: column;
  }
}

@media only screen and (min-width: 601px) {
  .container {
    margin: 0 1.25rem;
  }
  .contact-name label > input[type="text"] {
    width: 100%;
    max-width: 328px;
    display: inline-block;
  }
}
